@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Get Schwifty";
  src: url("../fonts/get-schwifty.woff") format("woff");
}

* {
  font-family: "Roboto", sans-serif;
}

.nono {
  padding: 2rem;
  margin: 0 auto;
  font-family: "Get Schwifty";
  color: #00afc6;
  text-shadow: 5px 5px 10px #17d297;
  filter: drop-shadow(5px 5px 10px #e5d169);
  font-size: 10vw;
  -webkit-text-stroke: 0.1px black;
}

.spaceship {
  background-attachment: fixed;
  width: 200px;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: -40%;
  animation: move 20s ease-in-out 10s infinite;
  animation-delay: 10s;
  width: 150px;
}

@keyframes move {
  0% {
    left: -40%;
    scale: 1;
    transform: rotate(0deg);
  }
  25% {
    scale: 2;
    left: 60%;
  }
  50% {
    left: 80%;
    scale: 1;
  }
  75% {
    left: 40%;
    scale: 2.5;
  }
  100% {
    left: -40%;
    scale: 0;
    transform: rotate(360deg);
  }
}

.swal2-popup {
  color: #00afc6;
  background-color: #000;
  padding: 5px 10px;
  text-align: center;
  padding-bottom: 2rem;
}

.App {
  height: 100vh;
}

.residentgrid {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  padding: 2rem;
  text-align: center;
}

.residentInfo__card {
  text-align: left;
  max-width: 270px;
  background-color: #053138;
  color: #fbfbfb;
  height: max-content;
  cursor: pointer;
  transition: transform 0.5s, filter 0.5s;
}

.residentInfo__card:hover {
  filter: drop-shadow(5px 5px 10px #17d297);
  transform: rotate(2deg);
}

.residentInfo__card figure {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.residentInfo__card figure div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #062226;
  position: absolute;
  top: 25px;
  width: 120px;
  height: 30px;
  padding: 0.2rem;
  border-radius: 0 15px 15px 0;
}

.residentInfo__card figure figcaption {
  padding: 0.5rem 1rem;
  font-size: 28px;
  border-bottom: 1px solid #48eebc;
}

.residentInfo__card--statuscolor {
  background-color: #938686;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
}

.unknown {
  background-color: #938686;
}

.Alive {
  background-color: #4ab648;
}

.Dead {
  background-color: #b94343;
}

.residentInfo__card section ul {
  padding: 0 1rem 1rem;
  color: #fbfbfb;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.residentInfo__card section ul li {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
}

.residentInfo__card section ul li span {
  color: #7e7e7e;
  font-size: 18px;
}
