@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Get Schwifty";
  src: url("../fonts/get-schwifty.woff") format("woff");
}

* {
  font-family: "Roboto", sans-serif;
}

.nono {
  padding: 2rem;
  margin: 0 auto;
  font-family: "Get Schwifty";
  color: #00afc6;
  text-shadow: 5px 5px 10px #17d297;
  filter: drop-shadow(5px 5px 10px #e5d169);
  font-size: 4rem;
  -webkit-text-stroke: 0.1px black;
}

.spaceship {
  background-attachment: fixed;
  width: 200px;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: -40%;
  animation: move 20s ease-in-out 10s infinite;
  animation-delay: 10s;
  width: 150px;
}

@keyframes move {
  0% {
    left: -40%;
    scale: 1;
    transform: rotate(0deg);
  }
  25% {
    scale: 2;
    left: 60%;
  }
  50% {
    left: 80%;
    scale: 1;
  }
  75% {
    left: 40%;
    scale: 2.5;
  }
  100% {
    left: -40%;
    scale: 0;
    transform: rotate(360deg);
  }
}

.swal2-popup {
  color: #00afc6;
  background-color: #000;
  padding: 5px 10px;
  text-align: center;
  padding-bottom: 2rem;
}

.App {
  min-height: 100vh;
}

.residentgrid {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  padding: 2rem;
  text-align: center;
}

.residentInfo__card {
  text-align: left;
  max-width: 270px;
  background-color: #053138;
  color: #fbfbfb;
  height: max-content;
  cursor: pointer;
  transition: transform 0.5s, filter 0.5s;
}

.residentInfo__card:hover {
  filter: drop-shadow(5px 5px 10px #17d297);
  transform: rotate(2deg);
}

.residentInfo__card figure {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.residentInfo__card figure div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #062226;
  position: absolute;
  top: 25px;
  width: 120px;
  height: 30px;
  padding: 0.2rem;
  border-radius: 0 15px 15px 0;
}

.residentInfo__card figure figcaption {
  padding: 0.5rem 1rem;
  font-size: 28px;
  border-bottom: 1px solid #48eebc;
}

.residentInfo__card--statuscolor {
  background-color: #938686;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
}

.unknown {
  background-color: #938686;
}

.Alive {
  background-color: #4ab648;
}

.Dead {
  background-color: #b94343;
}

.residentInfo__card section ul {
  padding: 0 1rem 1rem;
  color: #fbfbfb;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.residentInfo__card section ul li {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 18px;
}

.residentInfo__card section ul li span {
  color: #7e7e7e;
  font-size: 18px;
}

.homecontainer {
  position: fixed;
  background-color: #222222;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.homecontainer img {
  object-fit: contain;
  height: 100%;
}

.animation {
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1500px);
    transform: translateY(-1500px);
  }
}

.homecontainer button {
  -webkit-text-stroke: 0.1px black;
  background-color: transparent;
  color: #48eebc;
  border: 6px solid #4ab648;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 20px;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #4ab648) drop-shadow(0 0 50px #4ab648)
    contrast(1) brightness(1);
  transition: background-color 0.5s, filter 0.5s;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
}

.homecontainer button:hover {
  background-color: #4ab648;
  filter: drop-shadow(0 0 20px #4ab648) contrast(1) brightness(1);
}

.header__banner {
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  background-color: #05292e;
  border-bottom: 1px solid #48eebc;
}

.header__figure {
  padding: 0;
  margin: 0 auto;
}

.header__figure--img {
  max-width: 500px;
  margin: 0 auto;
}

.tvfigure {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 190px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

video {
  border: 1px solid rgb(9, 9, 60);
  position: absolute;
  width: 97%;
  z-index: -1;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
}
.header__figure--clickme{
  position: absolute;
  right: 0;
  bottom: 15%;
  width: 50%;
  transform: rotate(-25deg);
  filter: drop-shadow(0 0 15px #4ab648) drop-shadow(0 0 50px #4ab648)
    contrast(1) brightness(1);
}

.tvbutton {
  cursor: pointer;
  z-index: 10;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(200, 35, 35);
  border: 2px double rgb(89, 10, 10);
  position: absolute;
  right: 2.5%;
  bottom: 16%;
}

.tvredbottom {
  background-color: rgb(200, 35, 35);
  border: 2px double rgb(89, 10, 10);
}
.tvgreenbottom {
  background-color: rgb(35, 200, 60);
  border: 2px double rgb(1, 123, 9);
}

.searchbox {
  background-color: rgb(255, 0, 208);
}
